/*CSS RESET RULE*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: linear-gradient(#231936,#CA49FF);
	height: 100vh;
	font-family: Poppins, Montserrat, sans-serif;
}

span {
	font-weight: 600;
}

/*ID*/
#header-logo {
	width: 3em;
	height: 100%;
}

#hero-circle {
	width: 100%;
	height: 100%;
	z-index: 1;
}

#phone {
	z-index: 2;
}

#phone-holder {
	height: 40vh;
}

/*CLASSES*/
.navbar {
	background: hsla(0, 100%, 50%, 0.0);
}

.section-heading {
	font-size: 3em;
	font-weight: 600;
}

.section-subheading {
	font-size: 1em;
	font-weight: 400;
}

.body-bg-light {
	background: white;
}

