/********************
preloader
********************/
$color-black: #000000;
$color-light: #ffffff;
$color-para-dark: #666b6d;
$gradient-bg: linear-gradient(to right, rgba(117, 36, 160, 0.1), rgba(68, 52, 75, 0.05));
$primary-text-color: #FFFFFF;
$gradient-bg-dark: linear-gradient(to right, rgba(58, 175, 169, 1) 0%, rgba(0, 143, 140, 1) 100%);
$gradient-bg-dark-animated: linear-gradient(45deg, rgba(42, 177, 157, 1) 0%,rgba(255, 210, 134, 1) 100%);
$gradient-bg-light: linear-gradient(to bottom right, rgba(77, 182, 172, 1) 0%, rgba(0, 137, 123, 1) 100%);
$gradient-bg-light-with-gold: linear-gradient(to bottom right, rgba(10, 40, 90, 1) 0%, rgba(58, 170, 165, 1) 65%, rgba(255, 210, 134, 1) 100%);
$gradient-gold: linear-gradient(to bottom right, rgba(244, 180, 0, 1), rgba(255, 204, 77, 1), rgba(199, 141, 18, 1));
$bold-font-Zen: 900;
$regular-font-Zen: 400;

/********************
section
********************/
$section-padding: 5rem;
$section-padding-responsive: 10rem;

/********************
button
********************/
$button-color-blue: #c7dffa;
$button-color-orange: #ffd588;
$button-color-purple: #A43AE5;
$button-color-gold: #F4B400;

:root {
    --transform-fix: 'none';
}