/********************
preloader
********************/
$color-black: #000000;
$color-light: #ffffff;
$color-para-dark: #666b6d;
$gradient-bg: linear-gradient(to right, rgba(117, 36, 160, 0.1), rgba(68, 52, 75, 0.8));
$primary-text-color: #FFFFFF;
$gradient-bg-dark: linear-gradient(to right, rgba(8, 60, 111, 1) 0%, rgba(59, 125, 193, 1) 100% );
$gradient-bg-dark-animated: linear-gradient(45deg, rgba(59, 125, 193, 1) 0%, rgba(8, 104, 179, 1) 25%, rgba(59, 125, 193, 1) 45%, rgba(255, 204, 77, 1) 75%, rgba(249, 155, 32, 1)  100%);
$gradient-bg-light: linear-gradient(to bottom right, rgba(8, 60, 111, 1) 0%, rgba(59, 125, 193, 1) 100%);
$gradient-bg-light-with-gold: linear-gradient(to bottom right, rgba(161, 82, 220, 1), rgba(255, 204, 77, 1));
$gradient-gold: linear-gradient(to bottom right, rgba(244, 180, 0, 1), rgba(255, 204, 77, 1), rgba(199, 141, 18, 1));
$bold-font-Zen: 900;
$regular-font-Zen: 400;

/********************
section
********************/
$section-padding: 5rem;
$section-padding-responsive: 10rem;

/********************
button
********************/
$button-color-blue: #c7dffa;
$button-color-dark-blue:#083C70;
$button-color-orange: #ffd588;
$button-color-purple: #A43AE5;
$button-color-gold: #FFAC00;
$button-color-dark-gold: #E29900;
$button-gradient: linear-gradient(0deg, rgba(255, 204, 77, 0) 0%, rrgba(255, 204, 77, 0.5) 50%, rgba(255, 204, 77, 0.8) 75%, rgba(255, 204, 77, 1) 100%)!important;

:root {
    --transform-fix: 'none';
}